

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #4848ce 19.62%, #1e5799 85.61%);
}

.logo-cabecalho {
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
}

.nome-cabecalho {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cabecalho {
    display: inline;
}