@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
} 

.container{
	margin: 0;
    padding: 0;
}

body{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    background-color: rgb(246, 248, 250);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    font-weight: 200;
}

.link-logo-cabecalho {
    size: 5px;
    padding-left: 10px;
    padding-top: 10px;
    float: left;
}

.logo-cabecalho{
    width: 50px;
    height: 50px;
}

.cabecalho-menu {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    color: rgb(209, 209, 209);
}

.cabecalho {
    text-align: right;
    position: relative;
    background: linear-gradient(68.15deg, #0e1f36 19.62%, #123669 85.61%);
    height: 65px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}

.nome-cabecalho{
    text-align: left;
    padding-top: 20px;
    font-weight: 400;
    font-size: large;
    margin-left: 80px;
    color: white;
    width: 150px;
    position: absolute;
}

header{
	background: linear-gradient(68.15deg, #0e1f36 19.62%, #194b91 85.61%);
	height: 200px;
}
/* 
img{
	width: 200px;
	height: 130px;
	float: left;
	margin-top: 30px;
} */

h1{
	color: #fff;
	font-size: 40px;
	float: left;
	margin-top: 50px;
}

section{
	margin-bottom: 100px;
}



nav li{
	display: inline-block;
	margin: 25px;
	
	
}
nav a{
	text-decoration: none;
	font-size: 1em ;
	color: #fff;
}

/* nav a:hover{
	text-decoration: underline;
} */

h2{
	font-size: 40px;
    text-align: center;
}

.main{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 330px;
    position: relative; 
    width: 50wv;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}

.left > h2 {
    font-size: 2vw;
    color:#141414;
    font-weight: 500;
    position: relative;
    text-align: center;
  
}

.right{
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 330px;
    position: relative;
    width: 50wv;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}

.right > h2 {
    font-size: 2vw;
    color:#141414;
    font-weight: 500;
    position: relative;
    text-align: center;
    
  
}


.card{
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* espacamento entre o `Cadastro e Consulta` */
    padding: 20px;
    text-align: center;
}


.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 90%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #f0f0f0;
    color: #141414;
    font-size: 12pt;
    box-shadow: 0px 5px 15px #00000056;
    outline: none;
}

.textfield > label {
    color: black;
    font-weight: 400;
    margin: 10px;
}

.botoes{
    margin-top: 30px;
}

button{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 100px;
}

#btn-salvar{
    background-color: #6b3fd6; 
}

#btn-salvar:hover{
    background-color: #4c2c99;
}

#btn-enviar{
    background-color: #6b3fd6; 
}

#btn-enviar:hover{
    background-color: #4c2c99;
}

.formularioMat{
    font-size: 30px;
    width: 100%;
        /* justify-content: left;
    align-items: left;
    flex-direction: column;
    padding: 20px 25px; */
    background:#f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 5px 15px #00000056;
	border: 1px solid;
	padding: 25px;
    margin-top: 40px;
    text-align: center;
}



footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: linear-gradient(68.15deg, #0e1f36 19.62%, #194b91 85.61%);
	color: white;
	text-align: center;
	height: 50px;
}
